<!DOCTYPE html>
{% load static %}

<html>
	<head>
        <script type="text/javascript" src="../../static/load_ga.js"></script>
	    <title>Missing Parameters!</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <!--<link rel="stylesheet" href="bootstrap.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'bspg.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'column.css' %}">
        <script src="https://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{% static 'jso.js' %}"></script>
        <script src="{% static 'auth.js' %}"></script>

        <script>
            // prompt login page if user is not authenticated
            authorize();	

            // when document ready, send request for logging in user
            $(document).ready(function() {
                getUserInfo("error2");
            });
        </script>

	</head>
	<body>
	<div class="fixed-page-title row center-container">
		<div class="col-sm-8 align-center">
                <h4>A graph theoretical model to simulate brain connectivity</h4>
        </div>
		<div class="col-sm-2 align-right"></div>
    </div>
	<h1>Missing parameters!</h1> 
    <br>
    <button onclick="location.href='/model'">Home</button>    
	<br>
	
	
	</body>
</html>
