<!DOCTYPE html>
{% load static %}

<html>
	<head>
	    <title>Invalid Parameters!</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">

        <!--<link rel="stylesheet" href="bootstrap.css">-->
        <link rel="stylesheet" type="text/css" href="{% static 'bspg.css' %}">
		<link rel="stylesheet" type="text/css" href="{% static 'form.css' %}">
		<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
		<link rel="stylesheet" type="text/css" href="{% static 'column.css' %}">

	</head>
	<body>
	<div class="fixed-page-title row center-container">
		<div class="col-sm-8 align-center">
                <h4>A graph theoretical model to simulate brain connectivity</h4>
        </div>
		<div class="col-sm-2 align-right"></div>
    </div>
	<h1>The parameters specified does not reach convergence. Try new Parameters! </h1> 
	<h3>Go back with your Browser!</h3>
	<br>
	
	
	</body>
</html>